/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
img {max-width: 100%;}
html{
    scroll-behavior: smooth;
}
.container{
    width: 1600px;
    margin: 0 auto;
}
.add__container{
    width: 95%;
    margin: 0 auto;
}
.relative{
    position: relative;
}
.move{
    transform: translateX(-100%);
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-pagination{
    display: flex;
}
.pagination__bullet{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #96317D;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease 0s;
}
.pagination__bullet_active{
    position: relative;
}
.pagination__bullet_active::after{
    cursor: pointer;
    transition: transform 0.3s ease 0s;
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    width: 28px;
    height: 28px;
    border: 2px solid #96317D;
    background: transparent;
    border-radius: 50%;
}
.team__swiper-button-next{
    padding-top: 27px;
    position: relative;
    color: #96317D !important;
    top: 95% !important;
    font-size: 16px;
    line-height: 19px;
    @extend %sf-medium;
    padding-right: 70px;
    &::before{
        position: absolute;
        content: '';
        top: 33px;
        right: 0;
        width: 35px;
        height: 8px;
        background-image: url(../images/Arrow-sliderNext.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &::after{
        display: none;
    }
}
.team__swiper-button-prev{
    padding-top: 27px;
    font-size: 16px;
    line-height: 19px;
    @extend %sf-medium;
    color: black !important;
    top: 95% !important;
    left: 90% !important;
    transition: 0.3s;
    &::after{
        display: none;
    }
    &:hover{
        color: #96317D !important;
    }
}
.team_next{
    padding-top: 45px;
    &::before{
        top: 43px;
    }
}
.team_prev{
    padding-top: 45px;
}
.reviews_next{
    padding-top: 20px;
    &::before{
        top: 29px;
    }
}
.reviews_prev{
    padding-top: 20px;
}