/*Header*/

.header{
    padding-top: 35px;
    background: #A95094;
    &__container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: bottom;
        flex-wrap: wrap;
    }
    &__menuWrapper{
        min-width: 40%;
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        li{
           a{
                color: white;
                @extend %sf-medium;
                font-size: 16px;
                line-height: 20px;
           }
        }
    }
    &__end{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__town{
        position: relative;
        color: white;
        @extend %sf-medium;
        font-size: 16px;
        line-height: 19px;
        padding-left: 27px;
        margin-right: 40px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            background-image: url(../images/geo.svg)
        }
    }
    &__call{
        @extend %sf-extraBold;
        color: #FFC464;
        border: 2px solid #FFC464;
        padding: 18px 40px;
        font-size: 16px;
        line-height: 19px;
        border-radius: 15px;
    }
    &__bottom{
        display: none;
    }
}
/*header end*/ 

/*top*/ 
.top{
    position: relative;
    background: #A95094;
    background-image: url(../images/bg-top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 91vh;
    &__container{
        height: 85vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__text{
        width: 50%;
        color: white;
    }
    &__title{
        @extend %sf-black;
        font-size: 67px;
        line-height: 95%;
        margin-bottom: 50px;
    }
    &__desc{
        @extend %sf-medium;
        font-size: 20px;
        line-height: 120%;
        width: 58%;
        margin-bottom: 50px;
        span{
            color: #FFC464;
        }
    }
    &__btn{
        display: inline-block;
        @extend %sf-medium;
        color: white;
        background: black;
        padding: 18px 50px;
        border-radius: 15px;
        font-size: 16px;
        line-height: 19px;
    }
    &__action{
        position: absolute;
        left: auto;
        bottom: -50px;
        width: 100%;
        height: 50px;
        padding: 0 30px;
        background: black;
        border-radius: 5px;
        color: #FFC464;
        display: flex;
        justify-content: space-between;
    }
    &__action.active{
        display: none;
    }
    &__action-closed{
        cursor: pointer;
        padding: 15px 0;
        img{
            width: 20px;
            height: 20px;
        }
    }
    &__action-desc{
        position: relative;
        padding: 13px 0;
        @extend %sf-medium;
        font-size: 20px;
        line-height: 24px;
        padding-left: 18px;
        margin: 0 60px;
        &::before{
            content: '';
            position: absolute;
            top: 19px;
            left: 0;
            width: 10px;
            height: 10px;
            background: #78C23E;
            border-radius: 50%;
        }
        span{
            color: white;
        }
    }
    &__action-link{
        position: relative;
        padding: 13px 0;
        @extend %sf-medium;
        font-size: 20px;
        line-height: 24px;
        padding-right: 100px;
        color: #FFC464;
        &::after{
            content: '';
            position: absolute;
            background-image: url(../images/arrow-link.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            top: 23px;
            right: 0;
            width: 60px;
            height: 6px;
        }
    }
    &__action-tablet{
        display: none;
    }
    &__action-tablet.active{
        display: none;
    }
}

/* Advant */ 

.advant{
    padding: 115px 0;
    &__container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__item{
        width: 13%;
    }
    &__item-desc{
        @extend %sf-medium;
        margin-top: 24px;
        font-size: 20px;
        line-height: 130%;
    }
}

/*diagnostics*/ 

.diagnostics{
    background-color: #FAFAFA;
    background-image: url(../images/diagnistics-bg.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80%;
    padding-top: 115px;
    padding-bottom: 100px;
    &__container{
        position: relative;
        overflow: hidden;
        width: 55%;
        min-height: 600px;
    }
    &__question{
        transition: 0.5s
    }
    &__firsttitle{
        @extend %sf-extraBold;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #A95094;
        margin-bottom: 15px;
    }
    &__title{
        @extend %sf-extraBold;
        font-size: 45px;
        line-height: 40px;
        letter-spacing: -0.015em;
        margin-bottom: 50px;
    }
    &__buttons{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    &__btn{
        display: inline-block;
        padding: 15px 30px;
        @extend %sf-medium;
        font-size: 16px;
        line-height: 24px;
        color: #96317D;
        background: transparent;
        border: 1px solid #96317D;
        border-radius: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        transition: 0.5s;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            background: #96317D;
            color: white;
        }
    }
    &__desc{
        @extend %sf-medium;
        font-size: 16px;
        line-height: 28px;
        position: relative;
        padding-left: 50px;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../images/diagnostics.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            top: 0;
            left: 0;
            width: 34px;
            height: 34px;
        }
    }
    &__problem{
        background-color: #FAFAFA;
        position: absolute;
        top: 0;
        left: 100%;
        height: 100%;
        width: 80%;
        transition: 0.5s;
    }
    &__different{
        @extend %sf-extraBold;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background: transparent;
        display: inline-block;
        color: #A95094;
        position: relative;
        padding-left: 75px;
        margin-bottom: 15px;
        &::before{
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 50px;
            height: 8px;
            background-image: url(../images/diagnosticArrow.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    &__prices{
        width: 100%;
    }
    &__price{
        display: flex;
        margin-bottom: 35px;
    }
    &__price-percent{
        width: 100px;
        height: 100px;
        @extend %sf-extraBold;
        font-size: 26px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../images/diagnostic-oval.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 30px;
    }
    &__price-service{
        padding-top: 20px;
    }
    &__price-desc{
        @extend %sf-medium;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 5px;
    }
    &__price-subdesc{
        @extend %sf-extraBold;
        font-size: 24px;
        line-height: 20px;
        span{
            padding-left: 7px;
            @extend %sf-regular;
            font-size: 16px;
            line-height: 20px;
            color: #993280;
        }
    }
    &__link{
        display: inline-block;
        @extend %sf-medium;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        background: black;
        padding: 19px 50px;
        border-radius: 15px;
    }
}

/*Cost*/ 

.cost{
    padding-top: 100px;
    padding-bottom: 100px;
    &__container{
        width: 1400px;
        margin: 0 auto;
    }
    &__title{
        @extend %sf-extraBold;
        font-size: 45px;
        line-height: 40px;
        letter-spacing: -0.015em;
        margin-bottom: 50px;
        text-align: center;
    }
    &__line{
        display: flex;
        justify-content: space-between;
        @extend %sf-regular;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid #ECECEC;
    }
    &__line-service{
        display: flex;
        .cost__line-name{
            &:first-child{
                margin-right: 50px;
            }
        }
    }
    &__line-free{
        font-size: 18px;
        line-height: 24px;
        @extend %sf-medium;
        color: #96317D;
    }
    &__line-value{
        @extend %sf-medium;
        font-size: 16px;
        line-height: 24px;
        width: 75px;
        text-align: right;
        &:first-child{
            margin-right: 120px;
        }
    }
    &__link-inner{
        width: 180px;
        margin: 0 auto;
    }
    &__link{
        position: relative;
        @extend %sf-medium;
        font-size: 16px;
        line-height: 24px;
        color: #96317D;
        padding-right: 35px;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 25px;
            height: 25px;
            background-image: url(../images/cost-link.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &__line-name{
        @extend %sf-regular;
    }
    &__inner-mobile{
        display: none;
    }
    &__line-name-mobile{
        @extend %sf-medium;
    }
}

/*Team*/ 

.team{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(0deg, #FAFAFA, #FAFAFA), #FAE6F5;
    &__slide{
        background: white;
        padding-bottom: 50px;
        border-radius: 15px;
        margin-bottom: 50px;
    }
    &__slide-img{
        width: 100%;
        border-radius: 15px 15px 0 0;
        margin-bottom: 50px;
    }
    &__desc{
        @extend %sf-medium;
        text-align: center;
        font-size: 20px;
        line-height: 120%;
        color: #96317D;
        margin-bottom: 10px;
    }
    &__title{
        text-align: center;
        @extend %sf-extraBold;
        font-size: 45px;
        line-height: 40px;
        margin-bottom: 50px;
    }
    &__slide-text{
        padding-left: 45px;
    }
    &__slide-name{
        @extend %sf-medium;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 8px;
    }
    &__slide-prof{
        @extend %sf-regular;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 25px;
    }
    &__slide-list{
        @extend %sf-medium;
        color: #96317D;
        font-size: 16px;
        line-height: 19px;
    }
    &__slide-experience{
        position: relative;
        margin-bottom: 20px;
        padding-left: 22px;
        &::before{
            content: '';
            position: absolute;
            top: 4px;
            left: 0;
            width: 12px;
            height: 10px;
            background-image: url(../images/team-mark.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &:last-child{
            margin: 0;
        }
    }
}

/*reviews*/ 
.reviews{
    padding-top: 100px;
    padding-bottom: 100px;
    &__title{
        text-align: center;
        @extend %sf-extraBold;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: -0.015em;
        margin-bottom: 50px;
    }
    &__slide{
        background: linear-gradient(0deg, #FAFAFA, #FAFAFA), #FAE6F5;
        padding: 75px 50px;
        margin-bottom: 50px;
        height: 417px;
    }
    &__frame{
        display: flex;
        margin-bottom: 35px;
    }
    &__frame-text{
        margin-left: 30px;
        margin-top: 8px;
    }
    &__frame-name{
        @extend %sf-medium;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 8px;
    }
    &__frame-data{
        @extend %sf-regular;
        font-size: 16px;
        line-height: 19px;
    }
    &__desc{
        @extend %sf-regular;
        font-size: 18px;
        line-height: 150%;
    }
}
/*rating*/ 

.rating{
    background: linear-gradient(0deg, #FAFAFA, #FAFAFA), #FAE6F5;
    padding: 50px 0;
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        background: white;
        border-radius: 15px;
        padding: 35px;
    }
    &__box-appraisal{
        border-right: 1px solid #E3E3E3;
        padding-right: 28px;
    }
    &__box-numder{
        @extend %sf-medium;
        font-size: 25px;
        line-height: 40px;
        position: relative;
        padding-left: 35px;
        margin-bottom: 5px;
        &::before{
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            width: 25px;
            height: 25px;
            background-image: url(../images/Star_rating.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        span{
            @extend %sf-extraBold;
            font-size: 35px;
            line-height: 40px;
        }
    }
    &__box-quantity{
        @extend %sf-regular;
        font-size: 16px;
        line-height: 20px;
    }
    &__box-logo{
        width: 135px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/*question*/ 

.question{
    padding: 100px 0;
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__text{
        width: 30%;
    }
    &__title{
        font-size: 40px;
        line-height: 100%;
        @extend %sf-extraBold;
        margin-bottom: 25px;
    }
    &__desc{
        @extend %sf-regular;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: -0.05em;
        a{
            text-decoration: underline;
            color: #96317D;
        }
    }
    &__questions{
        width: 60%;
    }
    &__string{
        background: #FAFAFA;
        backdrop-filter: blur(10px);
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 25px 35px;
        &:last-child{
            margin: 0;
        }
    }
    &__string-quest{
        position: relative;
        @extend %sf-medium;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #212121;
        &::after{
            content: '+';
            font-size: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 3px;
            position: absolute;
            top: -5px;
            right: 0;
            background: #96317D;
            border-radius: 50%;
            height: 38px;
            width: 38px;
            color: white;
            cursor: pointer;
            transition: background 0.5s;
        }
    }
    &__string-answer{
        position: relative;
        width: 80%;
        @extend %sf-regular;
        font-size: 18px;
        line-height: 24px;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s;
    }
    &__string-quest.active{
        &::after{
            content: '-';
            background: transparent;
            color: #96317D;
            border: 2px solid #96317D;

        }
    }
    &__string-quest.active &__string-answer{
        padding-top: 20px;
    }
}

/*call*/ 

.call{
    background-image: url(../images/form_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
form{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 56px 85px;
    border-radius: 15px;
}
.form__text-title{
    @extend %sf-extraBold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -0.015em;
    color: #171717;
    margin-bottom: 10px;
}
.form__text-desc{
    @extend %sf-medium;
    font-size: 20px;
    line-height: 24px;
    span{
        color: #96317D;
    }
}
.form__inner{
    display: flex;
    align-items: center;
}
.form__tel{
    @extend %sf-medium;
    font-size: 16px;
    line-height: 19px;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 25px 120px 25px 30px;
    margin-right: 30px;
    &::placeholder{
        color: #171717;
    }
}
.form__button{
    @extend %sf-medium;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #A95094;
    border-radius: 15px;
    padding: 25px 96px;
}

/*footer*/ 

.footer{
    padding-top: 100px;
    &__container{
        display: flex;
        justify-content: space-between;
        gap: 70px;
        margin-bottom: 100px;
    }
    &__title-top{
        display: none;
        @extend %sf-extraBold;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: -0.015em;
        margin-bottom: 35px;
    }
    &__text{
        margin: auto 0;
    }
    &__title{
        @extend %sf-extraBold;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: -0.015em;
        margin-bottom: 50px;
    }
    &__text-adress{
        @extend %sf-extraBold;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 35px;
    }
    &__text-time{
        margin-top: 10px;
        @extend %sf-regular;
        font-size: 16px;
        line-height: 24px;
    }
    &__text-mail{
        @extend %sf-medium;
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: #000;
        margin-bottom: 35px;
    }
    &__text-tel{
        @extend %sf-extraBold;
        display: inline-block;
        font-size: 16px;
        line-height: 19px;
        color: #993280;
        padding: 18px 40px;
        border: 2px solid #993280;
        border-radius: 15px;
    }
    &__logo{
       display: flex;
       justify-content: center;
       margin-bottom: 35px;
    }
    &__menu{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    &__menu-item{
        @extend %sf-medium;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 50px;
        a{
            color: black;
        }
    }
    &__pay{
        display: flex;
        justify-content: center;
        gap: 15px;
        background: #FAFAFA;
        padding: 35px 0;
        margin-bottom: 50px;
    }
    &__pay-desc{
        @extend %sf-medium;
        font-size: 16px;
        line-height: 20px;
        margin: auto 0;
        margin-right: 10px;
    }
    &__pay-item{
        background: white;
        width: 92px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %sf-medium;
        border-radius: 10px;
        font-size: 14.3px;
        line-height: 26px;
        letter-spacing: -0.03em;
    }
    &__bottom{
        @extend %sf-regular;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }
}