%sf-regular{
    font-family: 'TTNorms-Regular';
    font-weight: 400;
}
%sf-medium{
    font-family: 'TTNorms-Medium';
    font-weight: 500;
}
%sf-extraBold{
    font-family: 'TTNorms-ExtraBold';
    font-weight: 700;
}
%sf-black{
    font-family: 'TTNorms-Black';
    font-weight: 800;
}